<header class="header">
	<div class="header__content">
		<nav class="nav">
			<a href="{{ site.baseurl }}" class="logo">
			{% if(site.logo) %}
				<img src="{{ site.logo }}" alt="" class="logo__img">
			{% else %}
				{{ site.title }}
			{% endif %}
			</a>

			{% include navigation.html navigation=site.data.navigation %}
		</nav>

		{% if(site.data.info) %}
		<div class="header__bottom">
			{% for item in site.data.info.items %}
				<p class="header__info">
					{{ item.text }}
				</p>
			{% endfor %}
		</div>
		{% endif %}
		
	</div>
</header>
