@import "vars";

// section
@import "header";
@import "footer";
@import "hero";
@import "grid";
@import "home";

// components
@import "./_components/logo";
@import "./_components/nav";

* {
    border: none;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.25;
	font-family: $mont;
	overflow-x: hidden;
	color: $text;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header,
footer {
	flex-shrink: 0;
}

main {
	flex: 1 0 auto;
}

.container {
	@include wrap;
}