.item {
    padding: 15px;
    border: 1px solid $black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__title {
        margin-bottom: 10px;
    }

    &__subtitle {
        margin-bottom: 5px;
    }

    &__text {
        margin-bottom: 20px;
    }
}